<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>8F6F23D5-1F92-44DD-920F-70CE20FF1D84</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{30, 0}, {808, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>Bottombar Visible</key>
	<false/>
	<key>DDF91B57-DFFB-448A-814C-807628702D45</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{10, 0}, {808, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>Expanded Ideaspaces For Section 00000000-0000-0000-0000-0000000TRASH</key>
	<array/>
	<key>Expanded Ideaspaces For Section 2E02B1F5-A1FE-404C-A055-9B0E48C65B0F</key>
	<array>
		<string>2E02B1F5-A1FE-404C-A055-9B0E48C65B0F</string>
	</array>
	<key>Expanded Sections</key>
	<array>
		<string>00000000-0000-0000-0000-000000000000</string>
	</array>
	<key>Last Viewed Ideaspaces For Section 00000000-0000-0000-0000-0000000TRASH</key>
	<array/>
	<key>Last Viewed Ideaspaces For Section 2E02B1F5-A1FE-404C-A055-9B0E48C65B0F</key>
	<array>
		<string>DDF91B57-DFFB-448A-814C-807628702D45</string>
	</array>
	<key>Last Viewed Section</key>
	<array>
		<string>2E02B1F5-A1FE-404C-A055-9B0E48C65B0F</string>
	</array>
	<key>Normal Window Layout</key>
	<string>{{0, 0}, {1366, 768}}</string>
	<key>Organizer Visible</key>
	<true/>
	<key>Organizer Width</key>
	<integer>236</integer>
	<key>Primary Asset UUID Last Viewed</key>
	<string>DDF91B57-DFFB-448A-814C-807628702D45</string>
	<key>Scroll Position For Section 00000000-0000-0000-0000-0000000TRASH</key>
	<string>{0, 0}</string>
	<key>Scroll Position For Section 2E02B1F5-A1FE-404C-A055-9B0E48C65B0F</key>
	<string>{0, 0}</string>
	<key>Secondary View Vertical</key>
	<true/>
	<key>Secondary View Visible</key>
	<false/>
	<key>Sections Visible</key>
	<false/>
	<key>Toolbar Visible</key>
	<true/>
</dict>
</plist>
